src/main/mule/helloworldmulesoft.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="75de8dfc-185c-48db-ae59-5ba2d5347bea" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="helloworldmulesoftFlow" doc:id="8af1f441-76fa-4b2e-a8d2-4e50f07e851b" >
		<http:listener doc:name="Listener" doc:id="577e14ad-5808-4144-a7a0-13f388c0c356" config-ref="HTTP_Listener_config" path="/helloworldmulesoft">
			<ee:repeatable-file-store-stream />
		</http:listener>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="56489eb0-a638-4a35-80f2-bcd0d9aa0d0b" />
	</flow>
</mule>
